body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #303030;
    color: #ffffff;
}

.admin-panel {
    display: flex;
    flex-direction: column;
}

mat-toolbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
}

.content {
    flex: 1;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    overflow-y: auto;
}

.dashboard-card {
    height: 100%;
    box-sizing: border-box;
    background-color: #424242;
    color: #ffffff;
}

mat-card-header {
    background-color: #212121;
    padding: 16px;
    margin: -16px -16px 16px -16px;
}

mat-card-title {
    color: #ffffff;
    font-size: 18px;
}

mat-card-content {
    height: calc(100% - 68px);
    overflow: auto;
}