<!-- app.component.html -->
<div class="dashboard-container">
  <mat-toolbar color="primary" class="dashboard-header">
    <span>
      <h1>Server Room Temperature Monitor</h1>
    </span>
    <span class="spacer"></span>
    <!-- <span class="timestamp">Last updated: {{ lastUpdated | date:'medium' }}</span> -->
  </mat-toolbar>

  <!--  <div class="dashboard-content">

  </div> -->
  <mat-grid-list cols="1">
    <app-rack-temperature />
  </mat-grid-list>

  <mat-grid-list cols="3" rowHeight="3:2">
    <mat-grid-tile>
      <app-temperature-bar-chart />
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="dashboard-card trend-analysis">
        <mat-card-header>
          <mat-card-title>Temperature Trend</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-chart />
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile><mat-card class="dashboard-card anomaly-detection">
        <mat-card-header>
          <mat-card-title>Anomalies</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <!-- Anomaly Detection component goes here -->
          <!-- <app-anomaly-detection></app-anomaly-detection> -->
        </mat-card-content>
      </mat-card></mat-grid-tile>
  </mat-grid-list>
</div>